<h1>Approvals</h1>
  <% @approvals.each do |approval| %>
    <%= render approval %>
    <p>
      <%= link_to "Show this approval", approval %>
    </p>
  <% end %>


<%= link_to "New approval", new_approval_path %>
