<h1>Hello <%= @user.name %>,</h1>
<p>A new medical record has been added to your clan's records:</p>
<p><strong>Type:</strong> <%= @medical_record.record_type %></p>
<p><strong>Date:</strong> <%= @medical_record.record_date %></p>
<p><strong>Notes:</strong> <%= @medical_record.notes %></p>
