<h1>New Post Published</h1>

<p>Hi <%= @user.email %>,</p>

<p>A new post has been published:</p>

<p>Title: <%= @post.title %></p>
<p>Body: <%= @post.body %></p>

<p>Click the link below to view the post:</p>
<p><%= link_to 'View Post', url_for(@post) %></p>

<p>Thanks for being a part of our community!</p>