<h1>New Member Joined Your Clan</h1>

<p>Dear <%= @clan.name %> members,</p>

<p>We're excited to announce that <%= @user.name %> has joined your clan!</p>

<p>Please take a moment to welcome them and make them feel at home.</p>

<p>You can view <%= @user.name %>'s profile by visiting your clan homepage:</p>

<p><%= link_to 'View Clan', clan_url(@clan) %></p>

<p>Best regards,<br>
The CareClan Team</p>