      <p>
      <strong>Poster:</strong>
      <%= comment.post.author.name %>
    </p>
    
    <p>
      <strong>Post:</strong>
      <%= comment.post.body %>
    </p>
    
    
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
    
    <p>
      <strong>Commenter:</strong>
      <%= comment.author.name %>
    </p>


