<% if policy(@clan).edit? %>
  <div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-4">Edit Clan</h1>
    <%= render 'form', clan: @clan, submit_label: 'Update Clan', cancel_path: @clan %>
  </div>
<% end %>