<!-- app/views/welcome/index.html.erb -->
<h1>Dashboard</h1>
<div class="flex flex-wrap md:flex-nowrap">
  <!-- Posts and Medical Records Sections -->
  <% @posts.each do |post| %>
    <div class="grid h-20 flex-grow card bg-base-300 rounded-box place-items-center">
      <!-- Post Section -->
      <div class="md:w-1/2 p-4">
        <h2 class="text-lg font-bold mb-4">Posts</h2>
        <%= render 'posts/post', post: post %>
         <% if post.medical_record.present? %>
        <span class="indicator-item indicator-top indicator-end badge badge-secondary">Medical Record</span>
        <%= post.medical_record.record_type %>
        <% end %>
      </div>

  <% end %>
</div>