<div class="progress-notes-record bg-white shadow rounded p-4 mb-4">
  <h4 class="text-lg font-semibold">Progress Notes</h4>
  <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
    <% notes = JSON.parse(medical_record.notes) rescue nil %>
    <% if notes && notes.is_a?(Array) %>
      <% current_month = nil %>
      <% notes.each do |note| %>
        <% note_date = Time.parse(note['date']) rescue nil %>
        <% if note_date %>
          <% new_month = note_date.strftime("%B %Y") %>
          <% if new_month != current_month %>
            <% current_month = new_month %>
            <li>
              <div class="timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
              </div>
              <div class="timeline-start md:text-end mb-10">
                <time class="font-mono italic"><%= current_month %></time>
              </div>
              <hr/>
            </li>
          <% end %>
          <li>
            <div class="timeline-middle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
            </div>
            <div class="timeline-start md:text-end mb-10">
              <time class="font-mono italic"><%= note_date.strftime("%B %d, %Y") %></time>
              <div class="text-lg font-black"><%= note['title'] %></div>
              <%= note['content'] %>
            </div>
            <hr/>
          </li>
        <% end %>
      <% end %>
    <% else %>
      <p>Invalid or missing progress notes data.</p>
    <% end %>
  </ul>
</div>
